* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.faq-div {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.221);
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 5px;

}

.faq-insidediv {
    padding: 5px;
    margin: 5px;
    display: flex;
    gap: 5px;
    justify-content: space-between;

}


.faq-para {
    padding: 5px;
}

.faq-ansdiv {
    display: none;


}

.active .faq-ansdiv {
    display: block;
    transition: all 2s ease-in-out;
}

hr {
    margin: auto;
    width: 90%;
}

.faq-qsndiv {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.129);

}

.plussign-div {
    margin-block: auto;
    width: 8%;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    background-color: blanchedalmond;
}

.plussign-div:hover {
    background-color: beige;
}

.plus {
    padding: 1.5px;
    background-color: black;
    margin: 2px;
    border-radius: 5px;
}

.plussign-div.active div:nth-child(1) {

    transform: translateY(5px) rotate(45deg);
    transition: all .2s ease-in-out;

}

.plussign-div.active div:nth-child(2) {

    opacity: 0;

}

.plussign-div.active div:nth-child(3) {

    transform: translateY(-5px) rotate(-45deg);
    transition: all .2s ease-in-out;
}